@import "str-to-list";


@if $display_menu_1_for_these_groups_only !="" {

    $list_1: str-to-list("#{$display_menu_1_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_1}"] {
        display: none;
    }

    @each $group1 in $list_1 {
        body.group-#{$group1} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_1}"] {
                display: block;
            }
        }
    }
}

// * second menu section * //

@if $display_menu_2_for_these_groups_only !="" {

    $list_2: str-to-list("#{$display_menu_2_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_2}"] {
        display: none;
    }

    @each $group2 in $list_2 {
        body.group-#{$group2} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_2}"] {
                display: block;
            }
        }
    }
}

// * third menu section * //

@if $display_menu_3_for_these_groups_only !="" {

    $list_3: str-to-list("#{$display_menu_3_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_3}"] {
        display: none;
    }

    @each $group3 in $list_3 {
        body.group-#{$group3} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_3}"] {
                display: block;
            }
        }
    }
}

// * fourth menu section * //

@if $display_menu_4_for_these_groups_only !="" {

    $list_4: str-to-list("#{$display_menu_4_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_4}"] {
        display: none;
    }

    @each $group4 in $list_4 {
        body.group-#{$group4} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_4}"] {
                display: block;
            }
        }
    }
}

// * first menu section * //

@if $display_menu_5_for_these_groups_only !="" {

    $list_5: str-to-list("#{$display_menu_5_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_5}"] {
        display: none;
    }

    @each $group5 in $list_5 {
        body.group-#{$group5} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_5}"] {
                display: block;
            }
        }
    }
}

// * first menu section * //

@if $display_menu_6_for_these_groups_only !="" {

    $list_6: str-to-list("#{$display_menu_6_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_6}"] {
        display: none;
    }

    @each $group6 in $list_6 {
        body.group-#{$group6} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_6}"] {
                display: block;
            }
        }
    }
}

// * seventh menu section * //

@if $display_menu_7_for_these_groups_only !="" {

    $list_7: str-to-list("#{$display_menu_7_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_7}"] {
        display: none;
    }

    @each $group7 in $list_7 {
        body.group-#{$group7} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_7}"] {
                display: block;
            }
        }
    }
}

// * eighth menu section * //

@if $display_menu_8_for_these_groups_only !="" {

    $list_8: str-to-list("#{$display_menu_8_for_these_groups_only}", "|");

    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_8}"] {
        display: none;
    }

    @each $group8 in $list_8 {
        body.group-#{$group8} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_8}"] {
                display: block;
            }
        }
    }
}

// * hide globe icon from staff * //

@if $hide_custom_menus_globe_icon =="true" {
    .sidebar-section-wrapper .sidebar-section-header-global-indicator {
        display: none;
    }
}