// * show custom sections for these groups *

@if $hide_custom_section_from_anon == "true" {
    .anon .sidebar-section-wrapper.sidebar-section[data-section-name="#{$custom_section_to_hide}"] {
        display: none;
    }
}

@if $hide_custom_section_from_users == "true" {
  body:not(.staff) {
    .sidebar-section-wrapper.sidebar-section[data-section-name="#{$custom_section_to_hide}"] {
        display: none;
    }
  }
}
